body {
  margin: 20px;
  width: 300px;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
}

.container {
  width: 400px;
  height: 800px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-image: url(img/image.jpeg);
  background-size: cover;
  border: 2px solid rgb(6, 172, 232);
}

.h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 50px;
}
.town {
  margin: 0 auto;
  height: 50px;
  width: 250px;
  border: 4px solid rgb(6, 172, 232);
  font-size: 25px;
}
